@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    color:white;
  }

  h1 {
    @apply text-4xl md:text-5xl 2xl:text-6xl;
    font-family: 'Playfair Display', serif;
  }

  h2 {
    @apply bg-gradient-to-r from-rose-800 to-pink-500 bg-clip-text text-transparent text-center text-4xl md:text-5xl 2xl:text-6xl;
    font-family: 'Playfair Display', serif;
  }

  h3 {
    @apply text-emerald-500 text-3xl md:text-4xl 2xl:text-5xl mb-4;
    font-family: 'Playfair Display', serif;
  }

  h4 {
    @apply  italic mb-4  text-md md:text-lg 2xl:text-xl;
  }

  h5 {
    @apply  text-xl md:text-2xl  text-emerald-500;
    
  }

  p {
    @apply text-base md:text-xl 2xl:text-2xl  mb-4;
  }

  span {
    @apply text-base md:text-lg 2xl:text-xl;
  }

  strong {
    @apply font-bold;
  }

  li {
    @apply text-lg mb-0;
  }

  a {
    @apply text-base md:text-lg;
  }

  /* button {
    @apply 
  } */

  /* input, textarea {
    @apply bg-gray-700 border border-slate-400 rounded-lg p-2 placeholder-white;
  } */
}

/* Custom classes */
.sectionDescription {
  @apply text-lg md:text-xl 2xl:text-2xl  mb-4 text-center mb-8;
}

.no-scroll {
  overflow:hidden;
}

.white-theme {
  background-color: #FFFAFA;
  color: black;
}

.cardTitle {
  @apply  text-xl md:text-2xl xl:text-3xl text-emerald-500 ;
}